
// Theme variables
$primary-color: #3778bc;

$shaded-fg-color: #aaa;

$primary-bg-color: $primary-color;

$header-bg-color: #dedede;
$header-fg-color: #999;
$border-radius: 4px;

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}